{% extends 'base.html' %}
{% block content %}
<h1>Empresas</h1>
<table>
  <tr>
    <th>
      <b>IdEmpresa</b>
    </th>
    <th>
      <b>Rank</b>
    </th>
    <th>
      <b>Nome</b>
    </th>
    <th>
      <b>NFuncionarios</b>
    </th>
  </tr>

  {% for empresa in empresas %}
  <tr>
    <td>
      <a href="/empresas/{{ empresa.IDEmpresa }}">{{ empresa.IDEmpresa }}</a>
    </td>
    <td>
      {{ empresa.Rank }}
    </td>
    <td>
      {{ empresa.Nome }}
    </td>
    <td>
      {{ empresa.NFuncionarios }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}